/*Style global*/
* {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Conteúdo do body */
body {
  background-image: url(Gallery/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
}

/* Div de cabeçalho */
.container {
  margin: 0 auto;
}

/* Barra de navegação */
nav {
  display: flex;
  justify-content: space-between;
}

/* Controle da logo à esquerda */
.logo {
  display: block;
  transition: 0.6s;
  width: 24%;
  height: 90px;
  padding: 10px 25px;
  margin-left: 136px;
  margin-top: 16px;
}

/* Efeito no logo ao passar o mouse */
.logo:hover {
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
  background: transparent;
  backdrop-filter: blur(5px);
}

/* Lista: Inicio, Eco+, Soluções, Cases, News, Clientes e Contato */
nav ul {
  word-spacing: 8px;
  padding: 25px;
  margin-right: 138px;
  list-style: none;
}

/* Posicionamento e tamanho nos itens dentro da lista */
nav ul li {
  padding: 23px 0px 27px 0px;
  margin-left: -2px;
  display: inline-block;
}

/* Estilização do item da lista clicável */
nav ul li a {
  padding: 10px 14px;
  color: white;
  font-size: 11pt;
  font-weight: 750;
  transition: 0.5s;
}

/* Estilização de hover */
nav ul a:hover {
  filter: brightness(2);
  background-color: #008d0a;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 10px 14px;
}

/* Botão de contato 1 localizado no cabeçalho ao lado direito */
nav ul .bot1 {
  padding: 11px 33px;
  border-radius: 30px;
  border: none;
  background-color: #008d0a;
  color: white;
  margin-left: 20px;
  font-weight: 650;
  font-size: 15px;
}

/* Estilização de hover do botão de contato 1 */
.bot1:hover {
  padding: 11px 33px;
  transition: 0.4s;
  color: black;
  filter: brightness(2);
  border-radius: 30px;
  background-color: #06bc10;
}

/* Div contendo h3, p, botão e iframe*/
.mid {
  display: inline-flex;
  width: 100%;
  padding: 10px;
  text-align: left;
  margin-top: 1px;
  margin-bottom: 149px;
}

/* Definição de tamanho e largura do iframe */
.mid iframe {
  margin-top: -12px;
  margin-left: 45px;
  box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
}

/* Div de estilização do h3, p e botão */
.m1 {
  position: relative;
  display: inline-block;
  width: 23%;
  margin-left: 295px;
  margin-top: -8px;
  transition: 0.3s;
}

/* Estilização do Título "Deixe a máq..." */
.m1 h3 {
  margin: 0px;
  padding: 10px;
  color: white;
  font-size: 29.5pt;
  line-height: 1.5;
}

/* Estilização do <p> abaixo do título */
.m1 p {
  margin: 11px;
  width: 90%;
  color: white;
  font-size: 13pt;
  font-weight: bolder;
  line-height: 1.5;
}

/* Estilização do botão de contato 2 abaixo de <p> */
.m1 #bot2 {
  margin-top: 100px;
  margin-inline-start: 15px;
  background-color: #06bc10;
  padding: 13px;
  border-radius: 50px;
  border: none;
  width: 60%;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  vertical-align: text-top;
  transition: 1s;
}

/* Estilização do texto dentro do botão de contato 2 */
.m1 a {
  color: white;
}

.m1:hover {
  box-shadow: 0 0 10px #00ff00, 0 0 20px white, 0 0 30px black;
  backdrop-filter: blur(5px);
}

/* Estilização de transição do botão de contato 2 */
.m1:hover #bot2 {
  box-shadow: 0 0 10px #00ff00, 0 0 10px black, 0 0 10px black;
  padding: 13px 20px;
  width: 90%;
  text-align: center;
}

/* Div do meio 2 */
.m2 {
  width: 100%;
  background-color: rgb(248, 248, 248);
}

/* Botão "Saiba Mais" */
#bot3 {
  transition: 1s;
  padding: 15px;
}

/* Estilização de transição do bot3 */
#bot3:hover {
  padding: 15px 80px;
}

/* Estilização do bot3 */
.m2 #bot3 {
  margin: 60px;
  margin-left: 550px;
  background-color: #008d0a;
  border-radius: 50px;
  border: none;
}

/* Estilização de texto dentro de bot3 */
.m2 a {
  color: white;
  padding: 0px 19px;
}

/* Div que define tamanho, margem e organiza a lista de conteúdos da div "m2" */
.s1 {
  width: 80%;
  block-size: 750px;
  margin-inline: 130px;
}

/* Definição de tamanho e display da ul dentro de s1 */
#li {
  width: 100%;
  display: flex;
}

/* Definição de posição dentro de s1 */
.s1 #li {
  padding: 0px 0px 0px 180px;
}

/* Div "Produtividade" que contém img h4 e p */
.d1 {
  color: #f8f8f8;
  display: block;
  width: 22%;
  margin-top: 120px;
  margin-inline: 5px;
  text-align: center;
  transition: 0.5s;
}

/* Estilização do texto <p> em d1 */
.d1 p {
  margin-top: 21px;
  width: 100%;
  font-size: 11pt;
  padding: 9px 0px;
  text-align: center;
  line-height: 2;
}

/* Estilização de transição do p em d1 */
.d1:hover {
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 9px 0px;
  text-align: center;
  background: transparent;
  color: black;
}

/* Div "Conexão dir." que contém img h4 e p */
.d2 {
  display: block;
  width: 22%;
  transition: 0.5s;
  margin-top: 120px;
  margin-inline: 10px;
  text-align: center;
  color: #f8f8f8;
}

/* Estilização do texto <p> em d2 */
.d2 p {
  margin-top: 21px;
  width: 100%;
  font-size: 11pt;
  line-height: 2;
}

/* Estilização de transição do p em d2 */
.d2:hover {
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateZ(10px);
  padding: 8px 0px;
  text-align: center;
  background: transparent;
  color: black;
}

/* Div "Rentabilidade" que contém img h4 e p */
.d3 {
  color: #f8f8f8;
  display: block;
  width: 22%;
  margin-top: 120px;
  margin-inline: 10px;
  text-align: center;
  transition: 0.5s;
}

/* Estilização do texto <p> em d3 */
.d3 p {
  margin-top: 21px;
  width: 100%;
  font-size: 11pt;
  text-align: center;
  line-height: 2;
}

/* Estilização de transição do p em d3 */
.d3:hover {
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 7px 0px;
  background: transparent;
  color: black;
  transform: translateZ(10px);
  z-index: 0;
  position: relative;
}

/* Div "Manut. Prev." que contém img h4 e p */
.d4 {
  transition: 0.5s;
  background: #f8f8f8;
  display: block;
  width: 20%;
  margin-top: 120px;
  margin-inline: 10px;
  text-align: center;
  color: #f8f8f8;
  height: 350px;
}

/* Estilização do texto <p> em d4 */
.d4 p {
  position: fixed;
  margin-top: 21px;
  width: 100%;
  font-size: 11pt;
  line-height: 2;
}

/* Estilização de transição do p em d4 */
.d4:hover {
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 0px;
  background: transparent;
  color: black;
  transform: translateZ(10px);
  z-index: 0;
  position: relative;
}

/*Div dos logos da freemax e braspo com relatos*/
.m3 {
  background: url(Gallery/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 104px;
  color: white;
  display: inline-flex;
  width: 100%;
  font-size: 11.5pt;
}

/*Imagem Fremax*/
.m3 #i1 {
  margin-top: -13px;
  margin-left: 295px;
}

/*ul ao lado da imagem*/
.m3 #li2 {
  margin-top: -13px;
  width: 14%;
  text-align: start;
  margin-left: 20px;
  line-height: 30px;
  word-break: keep-all;
  list-style-position: inside;
}

/*Estilo da ul ao lado dos logos*/
.m3 li::marker {
  content: "• ";
  font-size: 15px;
}

/*Imagem Braspo*/
.m3 #i2 {
  margin-top: -13px;
  margin-left: 10px;
}

/*ul ao lado da imagem*/
.m3 #li3 {
  margin-top: -13px;
  width: 14%;
  text-align: start;
  margin-left: 25px;
  line-height: 30px;
  word-break: keep-all;
  list-style-position: inside;
}

/*Div responsável pelos inputs, imagem, texto, política de privacidade, botão de contato 4*/
.prefooter {
  background: #fafafc;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin-top: 85px;
  width: 100%;
  padding: 0px 0px 100px;
}

/*Div responsável pelos títulos, inputs, SELECT e checkbox*/
#prefo1 {
  margin-inline: 410px;
  margin-right: 0px;
  width: 28%;
  font-weight: 200;
  word-break: break-all;
}

/*Título dos formulários e "Eu concordo..."*/
#prefo1 p {
  margin-top: 16px;
  font-size: 16px;
  width: 72%;
}

/*Input de formulário*/
#prefo1 input {
  margin-top: 16px;
  margin-left: 10px;
  width: 75%;
  height: 38px;
  border-color: #b7b7b7;
  border-radius: 8px;
  border-width: 1pt;
  text-align: left;
}

/*Checkbox*/
#prefo1 #agree {
  width: 5%;
  height: 13px;
}

/*Select style*/
.cargsel {
  margin-top: 16px;
  margin-left: 10px;
  height: 40px;
  width: 75%;
  border-radius: 8px;
  text-align: left;
  color: #757575;
}

/*Opções do SELECT*/
.cargsel option {
  color: black;
  text-align: left;
}

/*Texto "e mais... Monitore..."*/
.prefooter h4 {
  height: 270px;
  margin-inline: 20px;
  width: 24%;
  word-break: keep-all;
  font-weight: 400;
  line-height: 60px;
  color: #167a16;
  text-align: left;
  font-size: 28px;
  word-spacing: 8pt;
  transition: 0.5s;
}

/*Imagem abaixo de H4*/
.prefooter h4 img {
  margin-top: 60px;
  margin-left: 3px;
}

/*MONITORE SUA MÁQUINA*/
#mark1 {
  text-transform: uppercase;
  /*Transforma o texto em Maiúsculo*/
  border: none;
  /*Borda*/
  font-size: 26px;
  /*Tamanho da fonte*/
  color: green;
  /* Cor padrão */
  background: #f8f8f8;
  position: relative;
  overflow: hidden;
  /*Esconder excesso para não sair da div*/
  z-index: 1;
  /* to ensure text is on top */
  transition: background-color 0.4s ease-in-out, color 1s ease-in-out;
  /* Transição para cor do background e da letra */
}

/*Estado do conteúdo antes*/
#mark1:before {
  content: "";
  /* conteúdo vazio */
  position: absolute;
  /* Posição */
  top: 0;
  /* top 0 */
  left: 0;
  /* left 0 */
  width: 0;
  /* width 0 */
  height: 100%;
  /* 100% height */
  background-color: green;
  /* background color */
  transition: width 1s ease-in-out;
  /* 1 segundo de transição com função de ease in out */
  z-index: -1;
  /* Para assegurar que a animação do background ocorrerá atrás */
}

/* Altera somente o quanto a barra irá deslizar */
.prefooter:hover #mark1:before {
  width: 100%;
  /* width 100% */
}

/* Altera a cor da letra quando houver o hover */
.prefooter:hover #mark1 {
  color: white;
}

/*NA PALMA DA SUA MÃO*/
#mark2 {
  text-transform: uppercase;
  /*Transforma o texto em Maiúsculo*/
  border: none;
  /*Borda*/
  font-size: 26px;
  /*Tamanho da fonte*/
  color: green;
  /* Cor padrão */
  background: #f8f8f8;
  /*Background inicial*/
  position: relative;
  /*Posição*/
  overflow: hidden;
  /* Esconder excesso de conteúdo*/
  z-index: 1;
  /* Assegurar que as letras estão no topo da hierarquia */
  transition: background-color 0.4s ease-in-out, color 1s ease-in-out;
  /* Efeito de transição para Background e cor da letra */
}

/*Estado do conteúdo antes*/
#mark2:before {
  content: "";
  /* Conteúdo vazio */
  position: absolute;
  /* Posição */
  top: 0;
  /* top 0 */
  left: 0;
  /* left 0 */
  width: 0;
  /* width 0 */
  height: 100%;
  /* 100% height */
  background-color: green;
  /* Cor do background */
  transition: width 1s ease-in-out;
  /* 1 segundo com efeito de transição ease in out */
  z-index: -1;
  /* Assegurar que o background estará sempre atrás do texto */
}

/* Altera somente o quanto a barra irá deslizar */
.prefooter:hover #mark2:before {
  width: 100%;
  /* width 100% */
}

/* Altera a cor da letra quando houver o hover */
.prefooter:hover #mark2 {
  color: white;
}

/*Responsável pelo texto e pela tag a da política de privacidade*/
#termo {
  margin-top: 10px;
  width: 72%;
}

/*Botão de contato 4*/
#bot4 {
  position: relative;
  background: #008d0a;
  border: none;
  border-radius: 20px;
  color: white;
  margin-top: 30px;
  padding: 11px 13px;
  transition: 1s;
  margin-left: 25px;
}

/*Efeito quando houver o hover no botão de contato 4*/
.prefooter:hover #bot4 {
  padding: 11px 45px;
  color: white;
  border-radius: 30px;
  background-color: #008d0a;
  text-align: center;
  box-shadow: 0 0 20px #008d0a, 0 0 10px #008d0a, 0 0 10px white;
}

/*Div responsável pelo texto "Além disso, você..."*/
.prefooter2 {
  display: block;
  background-color: #ffffff;
  height: 250px;
}

/*Customização do texto*/
#alemDisso {
  padding-top: 80px;
  font-weight: 350;
  color: #17b317;
  font-size: 20px;
  width: 65%;
  text-align: center;
  margin-inline: 280px;
}

/*Div responsável por imagens, e-book, logos da microsoft, intel e advantech, botões de navegação e email*/
.footer {
  border-top: 5px solid;
  /* adjust the width as needed */
  border-image: linear-gradient(to right, #000000, #17b317);
  border-image-slice: 1;
  background-color: #383838;
  display: inline-block;
  height: 500px;
}

/*Alteração da cor do texto dentro da tag a*/
.footer a {
  color: white;
}

/*Div que abriga a logo da ECO+ no footer*/
.logoFooter {
  width: 20%;
  margin-top: 80px;
  margin-inline: 100px;
}

/*Alterações da imagem como tamanho e posição dentro da div*/
.logoFooter img {
  width: 100%;
  
}

/*Div que sustenta Logo Ecoplus, intel, advantech, microsoft e e-book */
.footerNav {
  color: white;
  display: inline-block;
  list-style: none;
  width: 32%;
  justify-content: center;
  margin-left: 510px;
  padding: 20px;
  margin-top: -151px;
}

/*Lista da barra de navegação acima de "Política de Privacidade"*/
.footerNav ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  margin-top: -90px;
}

/*Itens da lista*/
.footerNav li {
  word-spacing: 10px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 400;
}

/*Div que sustenta a política de privacidade, email, e logos*/
.content {
  font-size: 16;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

/*Logo da Microsoft*/
.microsoftLogo {
  padding-left: 33%;
}

/*Logo Intel*/
.intelLogo {
  margin-top: 5%;
  padding-left: 33%;
}

/*Logo Advantech*/
.advantechLogo
{
  padding-left: 26%;
}

/*Div que sustenta a imagem do ebook*/
.ebook {
  margin-top: -34%;
  border-radius: 20px;
  width: 20%;
  margin-left: 1000px;
  box-shadow: 25px 15px 10px rgba(0, 0, 0, 0.3),
    15px 10px 10px rgba(0, 0, 0, 0.3);
}

/*Botão para download do ebook*/
.downloadEbook {
  background-color: #067a0b;
  width: 100%;
  margin-top: -2%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  font-weight: 200;
}

/*Marca d'agua Ecoplus*/
.marcaDagua {
  margin-top: 200px;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(to bottom, #e0e0e0, #eeeeee39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 48%;
  background-clip: text;
  width: 10%;
}

