/*Style global*/
*{
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-decoration: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-device-width:600px) and (max-device-width:1968px) {
  body {
    background-image: url(Gallery/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
  }
}


/* Conteúdo do body */


/* Div de cabeçalho */
.container
{
    margin: 0 auto;
}

/* Barra de navegação */
nav
{
    display: flex;
    justify-content: space-between;
}

/* Controle da logo à esquerda */
.logo
{
    display: block;
    transition: 0.6s;
   width: 24%;
   padding: 25px;
   margin-left: 136px;
}

/* Efeito no logo ao passar o mouse */
.logo:hover
{
    display: block;
    border-radius: 10px;
    height: 126px;
    box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
    background: transparent;
    backdrop-filter: blur(5px);
}

/* Lista: Inicio, Eco+, Soluções, Cases, News, Clientes e Contato */
nav ul
{
    word-spacing: 8px;
    padding: 25px;
    margin-right: 138px;
    list-style: none;
}

/* Posicionamento e tamanho nos itens dentro da lista */
nav ul li
{
    padding: 23px 0px 27px 0px;
    margin-left: -2px;
    display: inline-block;
}

/* Estilização do item da lista clicável */
nav ul li a
{
    padding: 10px 14px;
    color: black;
    font-size: 11pt;
    font-weight: 750;
    transition: 0.5s;
}

/* Estilização de hover */
 nav ul  a:hover
{
    filter: brightness(2);
    background-color: #008d0a;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 10px 14px;
} 

/* Botão de contato 1 localizado no cabeçalho ao lado direito */
nav ul .bot1
{
    padding: 11px 33px;
    border-radius: 30px;
    border: none;
    background-color: #008d0a;
    color: white;
    margin-left: 20px;
    font-weight: 650;
    font-size: 15px;
}

/* Estilização de hover do botão de contato 1 */
.bot1:hover
{
    padding: 11px 33px;
    transition: 0.4s;
    color: black;
    filter: brightness(2);
    border-radius: 30px;
    background-color: #06BC10;
}
/*----------------------------------------------------------------------------*/
.section1
{
  
  height: 550px;
  display: inline-flex;
  justify-content: center;
}

.minisection1{
  width: 27%;
  
  
}

.container1
{
  
  width: 100%;
}

.container1 h3
{
 font-size: 28px;
 margin-left: 3%;
 word-wrap: break-word;
 width: 90%;
 font-weight: 550;
}

.container1 p
{
  margin-left: 3%;
  margin-top: 3%;
}


.box1 img
{
  width: 90%;
}

.container1 a{
  color: #008d0a;
}

.container1 p
{
  width: 90%;
}

.minisection2
{
  width: 27%;  
}

.container2
{ 
  width: 100%;
}

.container2 h3
{
  font-size: 28px;
  
  word-wrap: break-word;
  width: 90%;
  font-weight: 550;
}

.container2 a
{
  color: #008d0a;
}
.minisection2 h3{
  margin-left: 5%;
}

.container2 p
{
  margin-left: 5%;
  margin-top: 3%;
  width: 90%;
}

.box2 img{
  
  width: 90%;
  margin-left: 5%;
}

.minisection3{
  width: 27%;

  
}

.container3
{
  width: 100%;
}

.container3 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 margin-left: 5%;
 font-weight: 550;
 width: 90%;
}

.container3 a
{
  color: #008d0a;
}

.container3 p
{
  margin-left: 8%;
  margin-top: 3%;
}

.minisection3 h3
{
  margin-left: 6%;
}

.box3 img
{
  margin-left: 6%;
  width: 90%;
}

.section2{
  
  height: 450px;
  display: inline-flex;
  justify-content: center;
}

.minisection4{
  width: 27%;
  height: 62%;
  
}

.container4
{
  
  width: 100%;
}

.container4 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container4 a
{
  color: #008d0a;
}
.box4 img
{
  width: 90%;
}

.minisection5
{
  width: 27%;
  height: 62%;
  
}

.container5
{ 
  width: 100%;
}

.container5 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container5 a
{
  color: #008d0a;
}

.minisection5 h3{
  margin-left: 5%;
}

.box5 img{
  
  width: 90%;
  margin-left: 5%;
}


.minisection6{
  width: 27%;
  height: 80%;
  
}

.container6
{
  width: 100%;
}

.container6 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container6 a
{
  color: #008d0a;
}

.minisection6 h3
{
  margin-left: 6%;
}

.box6 img
{
  margin-left: 6%;
  width: 90%;
}


.section3
{  
  height: 450px;
  display: inline-flex;
  justify-content: center;
}

.minisection7{
  width: 27%;
  height: 62%;
  
}

.container7
{
  
  width: 100%;
}

.container7 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container7 a
{
  color: #008d0a;
}

.box7 img
{
  width: 90%;
}

.minisection8
{
  width: 27%;
  height: 62%;
  
}

.container8
{ 
  width: 100%;
}

.container8 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container8 a
{
  color: #008d0a;
}

.minisection8 h3{
  margin-left: 5%;
}

.box8 img{
  
  width: 90%;
  margin-left: 5%;
}

.minisection9{
  width: 27%;
  height: 80%;
  
}

.container9
{
  width: 100%;
}

.container9 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container9 a 
{
  color: #008d0a;
}

.minisection9 h3
{
  margin-left: 6%;
}

.box9 img
{
  margin-left: 6%;
  width: 90%;
}

/*-----------------------*/

.section4
{  
  height: 450px;
  display: inline-flex;
  padding-left: 10%;
}

.minisection10{
  width: 27%;
  height: 62%;
  
}

.container10
{
  
  width: 100%;
}

.container10 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container10 a
{
  color: #008d0a;
}

.box10 img
{
  width: 90%;
}

.minisection11{
  width: 27%;
  height: 62%;
  
}

.container11
{
  
  width: 100%;
}

.container11 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 font-weight: 550;
 width: 90%;
}

.container11 a
{
  color: #008d0a;
}

.box11 img
{
  width: 90%;
}

/* .minisection12{
  width: 27%;
  height: 80%;
  
}

.container12
{
  width: 100%;
}

.container12 h3
{
 font-size: 22px;
 word-wrap: break-word ;
 text-align: justify;
 word-wrap: break-word;
 width: 90%;
}

.minisection12 h3
{
  margin-left: 6%;
}

.box12 img
{
  margin-left: 6%;
  width: 90%;
} */


/* .box2
{
  width: 28%;
  border-radius: 20px;
}

.box2 img{
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.box3
{
  width: 28%;
  border-radius: 20px;
}

.box3 img{
  border-radius: 20px;
  width: 100%;
  height: 100%;
} */

/*-----------------------------------------------------------------------------*/
/*Div responsável por imagens, e-book, logos da microsoft, intel e advantech, botões de navegação e email*/
.footer {
  border-top: 5px solid;
  /* adjust the width as needed */
  border-image: linear-gradient(to right, #000000, #17b317);
  border-image-slice: 1;
  background-color: #383838;
  display: inline-block;
  height: 500px;
}

/*Alteração da cor do texto dentro da tag a*/
.footer a {
  color: white;
}

/*Div que abriga a logo da ECO+ no footer*/
.logoFooter {
  width: 20%;
  margin-top: 80px;
  margin-inline: 100px;
}

/*Alterações da imagem como tamanho e posição dentro da div*/
.logoFooter img {
  width: 100%;
  
}

/*Div que sustenta Logo Ecoplus, intel, advantech, microsoft e e-book */
.footerNav {
  color: white;
  display: inline-block;
  list-style: none;
  width: 32%;
  justify-content: center;
  margin-left: 35%;
  padding: 20px;
  margin-top: -151px;
}

/*Lista da barra de navegação acima de "Política de Privacidade"*/
.footerNav ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  margin-top: -90px;
}

/*Itens da lista*/
.footerNav li {
  word-spacing: 10px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 400;
}

/*Div que sustenta a política de privacidade, email, e logos*/
.content {
  font-size: 16;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

/*Logo da Microsoft*/
.microsoftLogo {
  padding-left: 33%;
}

/*Logo Intel*/
.intelLogo {
  margin-top: 5%;
  padding-left: 33%;
}

/*Logo Advantech*/
.advantechLogo
{
  padding-left: 26%;
}

/*Div que sustenta a imagem do ebook*/
.ebook {
  margin-top: -30.4%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20%;
  margin-left: 73%;
  box-shadow: 25px 15px 10px rgba(0, 0, 0, 0.3),
    15px 10px 10px rgba(0, 0, 0, 0.3);
  position: static;
}

/*Botão para download do ebook*/
.downloadEbook {
  background-color: #067a0b;
  width: 100%;
  margin-top: -2%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  font-weight: 200;
}

/*Marca d'agua Ecoplus*/
.marcaDagua {
  margin-top: 200px;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(to bottom, #e0e0e0, #eeeeee39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 48%;
  background-clip: text;
  width: 10%;
}

