/*Style global*/
*{
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-decoration: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteúdo do body */
body 
{
    background-image: url(Gallery/background.png);
    background-size: contain;
    background-repeat: no-repeat;

}

/* Div de cabeçalho */
.container
{
    margin: 0 auto;
}

/* Barra de navegação */
nav
{
    display: flex;
    justify-content: space-between;
}

/* Controle da logo à esquerda */
.logo
{
    display: block;
    transition: 0.6s;
   width: 24%;
   padding: 25px;
   margin-left: 136px;
}

/* Efeito no logo ao passar o mouse */
.logo:hover
{
    display: block;
    border-radius: 10px;
    height: 126px;
    box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
    background: transparent;
    backdrop-filter: blur(5px);
}

/* Lista: Inicio, Eco+, Soluções, Cases, News, Clientes e Contato */
nav ul
{
    word-spacing: 8px;
    padding: 25px;
    margin-right: 138px;
    list-style: none;
}

/* Posicionamento e tamanho nos itens dentro da lista */
nav ul li
{
    padding: 23px 0px 27px 0px;
    margin-left: -2px;
    display: inline-block;
}

/* Estilização do item da lista clicável */
nav ul li a
{
    padding: 10px 14px;
    color: black;
    font-size: 11pt;
    font-weight: 750;
    transition: 0.5s;
}

/* Estilização de hover */
 nav ul  a:hover
{
    filter: brightness(2);
    background-color: #008d0a;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 10px 14px;
} 

/* Botão de contato 1 localizado no cabeçalho ao lado direito */
nav ul .bot1
{
    padding: 11px 33px;
    border-radius: 30px;
    border: none;
    background-color: #008d0a;
    color: white;
    margin-left: 20px;
    font-weight: 650;
    font-size: 15px;
}

/* Estilização de hover do botão de contato 1 */
.bot1:hover
{
    padding: 11px 33px;
    transition: 0.4s;
    color: black;
    filter: brightness(2);
    border-radius: 30px;
    background-color: #06BC10;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.sectionCybersecurity
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  
}

.conteudo
{
  width: 82%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2%;
  background-color: #f8f8f8;
  align-items: center;
}

.tituloCybersecurity
{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
 background-color: #ffffff;
}


.tituloCybersecurity p
{
  font-size: 54pt;
  line-height: 5rem;
  font-weight: 500;
  text-align: center;
  padding: 0px 47px;
}


.cybersecurity
{
 
  margin-top: 10%;
  width: 60%;
}

.cybersecurity img
{
  width: 100%;
}

.banner-com-texto {
  display: flex;
  align-items: flex-start;
}

.banner-imagem {
  margin-right: 20px;
  flex-shrink: 0;
  shape-outside: url('../../../index/Gallery/banner-advantech.jpg');
  shape-margin: 20px;
}

.banner-imagem img {
  width: 100%;
}

.banner-texto {
  flex-grow: 1;
}
.subtitulo
{
  right: 50%;
}



.artigo
{
  display: inline-block;
  text-align: justify;
}
.artigo h4
{
  margin-top: 5%;
  font-size: 16px;
}

.artigo #textoPartes
{
  position: relative;
  line-height: 40px;
  margin-top: 1%;
}


#textoPartes a
{
  color: #383838;
  font-size: 17px;
}

#textoPartes a:hover
{
  color: #000000;
  text-decoration: underline;
}

.artigo ul
{
  margin-top: 2%;
  line-height: 45px;
  color: #737e86;
  list-style-position: inside;
  margin-left: 2%;
  text-align: justify;
} 

.artigo #eVoce
{
  margin-top: 2%;
}

.artigo #vejaASeguir
{
  margin-top: 2%;
}
.artigo ol
{
  margin-top: 2%;
  line-height: 45px;
  list-style-position: inside;
  margin-left: 2%;
  text-align: justify;
}

.artigo #emSuma
{
  margin-top: 2%;
}

.artigo #emSuma
{
  margin-top: 2%;
}

.artigos
{
  background-color: #f8f8f8;
  width: 100%;
  margin: 0 auto;
  padding-top: 3%;
  height: 830px;
}

.artigos h3
{
  color: #06BC10;
  padding-bottom: 2%;
  margin-left: 9.5%;
  font-size: 25pt;
}
.artigosRelacionados {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
  width: 83%;
  margin: 0 auto;
}


.coluna1, .coluna2, .coluna3
{
  width: 80%;
  height: 680px;
  display: flex;
  flex-direction: column;
}
.coluna1 img, .coluna2 img, .coluna3 img
{
  max-width: 95%;
}

.coluna1 p, .coluna2 p, .coluna3 p
{
  margin-top: 5%;
  margin-bottom: 5%;
}


.coluna1 h1 a, .coluna2 h1 a, .coluna3 h1 a
{
  font-size: 23px;
  line-height: 40px;
  color: #06BC10;
}

.coluna1 button 
{
  width: 45%;
  background-color: #008d0a;
  border: none;
  margin-top:18%;
  height: 8%;
  border-radius: 40px;
}

.coluna2 button {
  width: 45%;
  background-color: #008d0a;
  border: none;
  margin-top:28%;
  height: 8%;
  border-radius: 40px;
}

.coluna3 button 
{
  width: 45%;
  background-color: #008d0a;
  border: none;
  margin-top:37.75%;
  height: 8%;
  border-radius: 40px;
}

.coluna1 a, .coluna2 a, .coluna3 a
{
  color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*Div responsável por imagens, e-book, logos da microsoft, intel e advantech, botões de navegação e email*/
.footer {
  border-top: 5px solid;
  /* adjust the width as needed */
  border-image: linear-gradient(to right, #000000, #17b317);
  border-image-slice: 1;
  background-color: #383838;
  display: inline-block;
  height: 500px;
}

/*Alteração da cor do texto dentro da tag a*/
.footer a {
  color: white;
}

/*Div que abriga a logo da ECO+ no footer*/
.logoFooter {
  width: 20%;
  margin-top: 80px;
  margin-inline: 100px;
}

/*Alterações da imagem como tamanho e posição dentro da div*/
.logoFooter img {
  width: 100%;
  
}

/*Div que sustenta Logo Ecoplus, intel, advantech, microsoft e e-book */
.footerNav {
  color: white;
  display: inline-block;
  list-style: none;
  width: 32%;
  justify-content: center;
  margin-left: 35%;
  padding: 20px;
  margin-top: -151px;
}

/*Lista da barra de navegação acima de "Política de Privacidade"*/
.footerNav ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  margin-top: -90px;
}

/*Itens da lista*/
.footerNav li {
  word-spacing: 10px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 400;
}

/*Div que sustenta a política de privacidade, email, e logos*/
.content {
  font-size: 16;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

/*Logo da Microsoft*/
.microsoftLogo {
  padding-left: 33%;
}

/*Logo Intel*/
.intelLogo {
  margin-top: 5%;
  padding-left: 33%;
}

/*Logo Advantech*/
.advantechLogo
{
  padding-left: 26%;
}

/*Div que sustenta a imagem do ebook*/
.ebook {
  margin-top: -30.4%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20%;
  margin-left: 73%;
  box-shadow: 25px 15px 10px rgba(0, 0, 0, 0.3),
    15px 10px 10px rgba(0, 0, 0, 0.3);
  position: static;
}

/*Botão para download do ebook*/
.downloadEbook {
  background-color: #067a0b;
  width: 100%;
  margin-top: -2%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  font-weight: 200;
}

/*Marca d'agua Ecoplus*/
.marcaDagua {
  margin-top: 200px;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(to bottom, #e0e0e0, #eeeeee39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 48%;
  background-clip: text;
  width: 10%;
}

