/*Style global*/
* {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conteúdo do body */
body {
  background-image: url(Gallery/background.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*Style global*/
* {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conteúdo do body */
body {
  background-image: url(Gallery/background.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Div de cabeçalho */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
}

/* Barra de navegação */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.container #imagemEco {
  width: 100%;
  transition: 0.6s;
}

#imagemEco img{
  
  max-width: 100%;
}

/* Controle da logo à esquerda */
#imagemEco {
  display: block;
  transition: 0.6s;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 30%;
}

/* Efeito no logo ao passar o mouse */
#imagemEco:hover {
  border-radius: 10px;
  box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
  background: transparent;
  backdrop-filter: blur(0px);
}

/* Lista: Inicio, Eco+, Soluções, Cases, News, Clientes e Contato */
 nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 50%;
  margin-left: -30%;
  max-width: 100%;
}

/* Posicionamento e tamanho nos itens dentro da lista */
nav li {
  margin: 0 10px;
}

/* Estilização do item da lista clicável */
nav ul li a {
  padding: 2dvh 1dvh;
  color: black;
  font-size: 11pt;
  font-weight: 750;
  transition: 0.5s;
  display: block;
}

/* Estilização de hover */
nav ul a:hover {
  padding: 2dvh 1dvh;
  filter: brightness(2);
  background-color: #008d0a;
  color: black;
  border: none;
  border-radius: 3px;
  
}

/* Botão de contato 1 localizado no cabeçalho ao lado direito */
a.bot1 {
  padding: 1dvh 3dvh;
  border-radius: 30px;
  border: none;
  background-color: #008d0a;
  color: white;
  margin-left: 2%;
  font-weight: 650;
  font-size: 15px;
}

/* Estilização de hover do botão de contato 1 */
.bot1:hover {
  padding: 1dvh 3dvh;
  transition: 0.4s;
  color: black;
  filter: brightness(2);
  border-radius: 30px;
  background-color: #008807;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.sectionInternet5G {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

.conteudo {
  width: 82%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2%;
  background-color: #f8f8f8;
  align-items: center;
}

.tituloInternet5G {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
}

.tituloInternet5G p {
  font-size: 54pt;
  line-height: 5rem;
  font-weight: 500;
  text-align: center;
  padding: 0px 47px;
}

.imagemInternet5G {
  margin-top: 10%;
  width: 60%;
}

.imagemInternet5G img {
  width: 100%;
}

.subtitulo {
  right: 50%;
}

.artigo {
  display: inline-block;
  text-align: justify;
}
.artigo h4 {
  margin-top: 5%;
  font-size: 16px;
  color: green;
}

.artigo h2 {
  font-weight: 900;
  color: green;
}
.artigo #textoPartes {
  position: relative;
  line-height: 40px;
  margin-top: 1%;
}

#textoPartes strong {
  color: #008d0a;
}
#textoPartes a {
  color: #383838;
  font-size: 17px;
}

#textoPartes a:hover {
  color: #000000;
  text-decoration: underline;
}

.artigos {
  background-color: #f8f8f8;
  width: 100%;
  margin: 0 auto;
  padding-top: 3%;
  height: 830px;
}

.artigos h3 {
  color: #06bc10;
  padding-bottom: 2%;
  margin-left: 9.5%;
  margin-top: -1%;
  font-size: 16pt;
}
.artigosRelacionados {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
  width: 83%;
  margin-left: 9.5%;
}

.coluna1,
.coluna2,
.coluna3 {
  width: 80%;
  height: 680px;
  display: flex;
  margin-left: 2%;
  flex-direction: column;
}
.coluna1 img,
.coluna2 img,
.coluna3 img {
  max-width: 95%;
}

.coluna1 p,
.coluna2 p,
.coluna3 p {
  margin-top: 5%;
  margin-bottom: 5%;
}

.coluna1 h1 a,
.coluna2 h1 a,
.coluna3 h1 a {
  font-size: 23px;
  line-height: 40px;
  color: #06bc10;
}

.coluna1 button {
  width: 45%;
  background-color: #008d0a;
  border: none;
  margin-top: 18%;
  height: 8%;
  border-radius: 40px;
}

.coluna2 button {
  width: 45%;
  background-color: #008d0a;
  border: none;
  margin-top: 28%;
  height: 8%;
  border-radius: 40px;
}

.coluna3 button {
  width: 45%;
  background-color: #008d0a;
  border: none;
  margin-top: 37.75%;
  height: 8%;
  border-radius: 40px;
}

.coluna1 a,
.coluna2 a,
.coluna3 a {
  color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*Div responsável por imagens, e-book, logos da microsoft, intel e advantech, botões de navegação e email*/
.footer {
  border-top: 5px solid;
  /* adjust the width as needed */
  border-image: linear-gradient(to right, #000000, #17b317);
  border-image-slice: 1;
  background-color: #383838;
  display: inline-block;
  height: 500px;
}

/*Alteração da cor do texto dentro da tag a*/
.footer a {
  color: white;
}

/*Div que abriga a logo da ECO+ no footer*/
.logoFooter {
  width: 20%;
  margin-top: 80px;
  margin-inline: 100px;
}

/*Alterações da imagem como tamanho e posição dentro da div*/
.logoFooter img {
  width: 100%;
}

/*Div que sustenta Logo Ecoplus, intel, advantech, microsoft e e-book */
.footerNav {
  color: white;
  display: inline-block;
  list-style: none;
  width: 32%;
  justify-content: center;
  margin-left: 35%;
  padding: 20px;
  margin-top: -151px;
}

/*Lista da barra de navegação acima de "Política de Privacidade"*/
.footerNav ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  margin-top: -90px;
}

/*Itens da lista*/
.footerNav li {
  word-spacing: 10px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 400;
}

/*Div que sustenta a política de privacidade, email, e logos*/
.content {
  font-size: 16;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

/*Logo da Microsoft*/
.microsoftLogo {
  padding-left: 33%;
}

/*Logo Intel*/
.intelLogo {
  margin-top: 5%;
  padding-left: 33%;
}

/*Logo Advantech*/
.advantechLogo {
  padding-left: 26%;
}

/*Div que sustenta a imagem do ebook*/
.ebook {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20%;
  margin-left: 73%;
  box-shadow: 25px 15px 10px rgba(0, 0, 0, 0.3),
    15px 10px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

/*Botão para download do ebook*/
.downloadEbook {
  background-color: #067a0b;
  width: 100%;
  margin-top: -2%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  font-weight: 200;
}

/*Marca d'agua Ecoplus*/
.marcaDagua {
  margin-top: 200px;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(to bottom, #e0e0e0, #eeeeee39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 48%;
  background-clip: text;
  width: 10%;
}

/*===========================================RESPONSIVIDADE==========================================================*/

/* Add a style rule for small screens */
@media (min-width: 320px) and (max-width: 567px){
  /* Center the logo and make it smaller */
  .container {
    display: inline-flex;
    width: 100%;
  }
   .container #imagemEco {
    width: 100%;
    margin-top: 5%;
    margin-left: -10%;
  }

nav{
  width: 90%;
}

  /* Lista: Inicio, Eco+, Soluções, Cases, News, Clientes e Contato */
 nav ul {
  align-items: center;
  margin-top: 2%;
  width: 100%;
  max-width: 100%;
}

/* Posicionamento e tamanho nos itens dentro da lista */
nav li {
  margin: 0 10px;
  margin-left: -5%;
}

/* Estilização do item da lista clicável */
nav ul li a {
  padding: 2dvh 1dvh;
  color: black;
  font-size: 5pt;
  font-weight: 750;
  transition: 0.5s;
  display: block;
}

/* Botão de contato 1 localizado no cabeçalho ao lado direito */
a.bot1 {
  border-radius: 30px;
  border: none;
  background-color: #008d0a;
  color: white;
  font-weight: 650;
  font-size: 8px;
}

  /* Adjust the font size of the article title */
  .tituloInternet5G p {
    font-size: 15px;
    margin-top: -12%;
    line-height: 3em;
    margin-bottom: -8%;
    font-weight: 600;
    padding: 0%;
  }

  .artigo h2 {
    font-size: 18px;
  }
  /* Adjust the font size of the article text */
  .artigo p {
    font-size: 14px;
  }


  .artigos {
    padding-top: 4%;
    height: 500px;
  }
  .artigo h2 {
  font-weight: 900;
  color: green;
}
  .artigos h3 {
    padding-bottom: 4%;
  }
  .artigosRelacionados {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
    width: 83%;
    margin-left: 9.5%;
  }

  .coluna1 p,
  .coluna2 p,
  .coluna3 p {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
  .coluna1 h1 a{
    font-size: 11px;
    line-height: 1rem;
  }
  .coluna2 h1 a,
  .coluna3 h1 a {
    font-size: 13px;
    line-height: 2em;
  }
  
  .coluna1 button {
    width: 75%;
    margin-top: 27%;
    height: 5%;
  }

  .coluna2 button {
    margin-top: 49%;
    width: 75%;
    height: 5%;
  }
 .coluna3 button {
  margin-top: 94%;
    width: 75%;
    height: 5%;
  }

/*========================== FOOTER ===============================*/

.footer{
  max-width: 100%;
}

/*Div que abriga a logo da ECO+ no footer*/
.logoFooter {
  width: 28%;
  margin-top: 20%;
  margin-left: 4%;
}

/*Div que sustenta a política de privacidade, email, e logos*/
.content {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5%;
}

.content a {
  font-size: 9px;
  font-weight: 400;
}

/*Div que sustenta Logo Ecoplus, intel, advantech, microsoft e e-book */
.footerNav {
  width: 35%;
  margin-left: 32%;
}

  /*Lista da barra de navegação acima de "Política de Privacidade"*/
.footerNav ul {
  margin-left: -8em;

}

/*Itens da lista*/
.footerNav li {
  margin-left: 1%;
  word-spacing: 0px;
  font-size: 10px;
  font-weight: 400;
}
  /*Div que sustenta a imagem do ebook*/
.ebook {
  margin-left: 76%;
  margin-top: -52.9%;
  min-width: 1%;
  max-width: 100%;
  position: relative;
}
  /*Botão para download do ebook*/
.downloadEbook {
  margin-top: -5%;
  height: 30px;
  font-weight: 200;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 60%;
  min-width: 1%;
  max-width: 100%;
}

.downloadEbook a {
  font-size: 7px;
}
/*Logo da Microsoft*/
.microsoftLogo {
  margin-left: -10%;
  width: 100%;
}

/*Logo da Microsoft*/
.microsoftLogo img {
  margin-left: -10%;
  width: 85%;
}

/*Logo Intel*/
.intelLogo {
  margin-left: -13%;
  width: 100%;
}
/*Logo Advantech*/
.intelLogo img {
  width: 80%;
}

/*Logo Advantech*/
.advantechLogo {
  margin-left: -10%;
  width: 100%;
}
/*Logo Advantech*/
.advantechLogo img {
  width: 85%;
}

}

  @media (min-width: 667px) and (max-width: 1024px) {
  /* CSS rules for small mobile devices */

   .coluna1 p,
   .coluna2 p,
   .coluna3 p {
     margin-top: 5%;
     margin-bottom: 15%;
   }
   
   .coluna1 h1 a{
     font-size: 23px;
     line-height: 2rem;
   }
   .coluna2 h1 a,
   .coluna3 h1 a {
     font-size: 23px;
     line-height: 2em;
   }
 
  .coluna3 button {
   margin-top: 40%;
   }
   .ebook
   {
     margin-top: -33%;
   }
  }
  
  
  @media (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for tablets */
  .container {
    display: inline-flex;
    width: 100%;
  }

  .container a {
    width: 36%;
  }

  .container a #imagemEco {
    width: 100%;
    margin-top: 15%;
    margin-left: 1%;
  }

  .container nav {
    width: 50%;
  }

  /* Make the navigation links stack vertically */
  .container nav ul {
    margin-top: 12%;
    margin-left: -22%;
  }

  /* Adjust the font size of the navigation links */
  nav ul li a {
    font-size: 14px;
  }
  /* Add some spacing between the navigation links */
  nav ul li {
    margin-top: -2%;
    margin-left: -8%;
    padding: 0px 0px 23px 0px;
  }
  
  .coluna1 p,
  .coluna2 p,
  .coluna3 p {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
  .coluna1 h1 a{
    font-size: 23px;
    line-height: 2rem;
  }
  .coluna2 h1 a,
  .coluna3 h1 a {
    font-size: 23px;
    line-height: 2em;
  }

 .coluna3 button {
  margin-top: 40%;
  }
  .ebook
  {
    margin-top: -37.5%;
  }
  }
  
  
  @media (min-width: 992px) and (max-width: 1100px) {
  /* CSS rules for laptops */
  .container {
    display: inline-flex;

  }

  .container #imagemEco {
    margin-top: 10%;
    margin-left: 10%;
    width: 130%;
  }


  /* Make the navigation links stack vertically */
  .container nav ul {
    justify-content: space-evenly;
    display: inline-flex;
    height: 20px;
    margin-left: -10%;
    margin-top: 3%;
  }

  .container nav ul li .bot1 {
    margin-left: 2%;
    margin-top: 3%;
    padding: 3% 7%;
    font-weight: 650;
    font-size: 12px;
    line-height: 1%;
  }

  /*Div que sustenta Logo Ecoplus, intel, advantech, microsoft e e-book */
.footerNav {
  color: white;
  display: inline-block;
  list-style: none;
  width: 35%;
  justify-content: center;
  margin-top: -13%;
  margin-left: 34%;
}

    /*Lista da barra de navegação acima de "Política de Privacidade"*/
.footerNav ul {
  margin-left: -10%;
}

/*Itens da lista*/
.footerNav li {
  word-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
}

  .coluna1 p,
  .coluna2 p,
  .coluna3 p {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
  .coluna1 h1 a{
    font-size: 23px;
    line-height: 2rem;
  }
  .coluna2 h1 a,
  .coluna3 h1 a {
    font-size: 23px;
    line-height: 2em;
  }
  .coluna2 button {
    margin-top: 39%;
    }
 .coluna3 button {
  margin-top: 75%;
  }
  .ebook
  {
    margin-top: -38.5%;
  }
  }
  

  @media (min-width: 1200px) {
  /* CSS rules for desktops */
  .coluna1 p,
  .coluna2 p,
  .coluna3 p {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
  .coluna1 h1 a{
    font-size: 23px;
    line-height: 2rem;
  }
  .coluna2 h1 a,
  .coluna3 h1 a {
    font-size: 23px;
    line-height: 2em;
  }

 .coluna3 button {
  margin-top: 40%;
  }
  .ebook
  {
    margin-top: -32.1%;
  }
  }
  
  @media (min-width: 1500px) {
    /* CSS rules for desktops */
    .coluna1 p,
    .coluna2 p,
    .coluna3 p {
      margin-top: 5%;
      margin-bottom: 15%;
    }
    
    .coluna1 h1 a{
      font-size: 23px;
      line-height: 2rem;
    }
    .coluna2 h1 a,
    .coluna3 h1 a {
      font-size: 23px;
      line-height: 2em;
    }
  
   .coluna3 button {
    margin-top: 40%;
    }
    .ebook
    {
      margin-top: -30.4%;
    }
    }
    
