/*Style global*/
*{
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-decoration: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteúdo do body */
body 
{
    background-image: url(Gallery/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
}

/* Div de cabeçalho */
.container
{
    margin: 0 auto;
}

/* Barra de navegação */
nav
{
    display: flex;
    justify-content: space-between;
}

/* Controle da logo à esquerda */
.logo
{
    display: block;
    transition: 0.6s;
   width: 24%;
   padding: 25px;
   margin-left: 136px;
}

/* Efeito no logo ao passar o mouse */
.logo:hover
{
    display: block;
    border-radius: 10px;
    height: 126px;
    box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
    background: transparent;
    backdrop-filter: blur(5px);
}

/* Lista: Inicio, Eco+, Soluções, Cases, News, Clientes e Contato */
nav ul
{
    word-spacing: 8px;
    padding: 25px;
    margin-right: 138px;
    list-style: none;
}

/* Posicionamento e tamanho nos itens dentro da lista */
nav ul li
{
    padding: 23px 0px 27px 0px;
    margin-left: -2px;
    display: inline-block;
}

/* Estilização do item da lista clicável */
nav ul li a
{
    padding: 10px 14px;
    color: black;
    font-size: 11pt;
    font-weight: 750;
    transition: 0.5s;
}

/* Estilização de hover */
 nav ul  a:hover
{
    filter: brightness(2);
    background-color: #008d0a;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 10px 14px;
} 

/* Botão de contato 1 localizado no cabeçalho ao lado direito */
nav ul .bot1
{
    padding: 11px 33px;
    border-radius: 30px;
    border: none;
    background-color: #008d0a;
    color: white;
    margin-left: 20px;
    font-weight: 650;
    font-size: 15px;
}

/* Estilização de hover do botão de contato 1 */
.bot1:hover
{
    padding: 11px 33px;
    transition: 0.4s;
    color: black;
    filter: brightness(2);
    border-radius: 30px;
    background-color: #06BC10;
}

 .clientes 
 {
   display: inline-block;
   margin-left: 90px;
   width: 90%;
   height: 1200px;
 }

 .row1
 {
   display: inline-flex;
   width: 100%;
 }

 .braspo
 {
   filter: grayscale(100%);
   display: inline-flex;
   width: 300px;
   margin-left: 158px;  
   height: 115px;
   margin-top: 49px;
   transition: 0.5s;
   border-radius: 20px;
 }
 
 .braspo:hover
 {
   filter: contrast(100%) brightness(100%) saturate(100%);
   border-radius: 20px;
   box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
 }

  .fremax
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 301px;
   margin-left: 330px; 
   margin-top: -6px;
   transition: 0.5s;
  }

  .fremax:hover
 {
   filter: contrast(100%) brightness(100%) saturate(100%);
   box-shadow: 0 0 20px #ffbf00, 0 0 10px #ffbf00, 0 0 40px black;
   border-radius: 0px;
 }

  .row2{
   display: inline-flex;
   width: 100%;
   margin-top: 20px;
 } 
  .famacil
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 298px;
   margin-left: 158px;  
   height: 84px;
   margin-top: 29px;
   border-radius: 15px;
   transition: 0.5s;
  }

  .famacil img
  {
   margin-left: -1px;
   width: 300px;
   height: 90px;

  }

  .famacil:hover
 {
   filter: contrast(100%) brightness(100%) saturate(100%);
   box-shadow: 0 0 20px #1b2c88, 0 0 10px #183b5f, 0 0 40px black;
 }

  .fast
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 310px;
   margin-left: 330px; 
   margin-top: 20px;
   transition: 0.5s;
   border-radius: 10px;
  }


  .fast:hover
 {
   background: linear-gradient(to top, #e0e0e098, #6161613b);
   filter: contrast(100%) brightness(100%) saturate(100%);
   box-shadow: 0 0 20px #183b5f, 0 0 10px white, 0 0 40px black;
 }

  .row3{
   display: inline-flex;
   width: 100%;
   margin-top: 20px;
 } 
  .indumak
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 300px;
   margin-left: 157px;  
   height: 150px;
   margin-top: 20px;
   border-radius: 10px;
   transition: 0.5s;
  }

  .indumak img{
   margin-top: 2px;
   margin-left: 8px;
   width: 285px;
   height: 168px;
  }

  .indumak:hover
 {
   background: linear-gradient(to top, #e0e0e0, #61616111);
   filter: contrast(100%) brightness(100%) saturate(100%);
   box-shadow: 0 0 20px #c5ff32, 0 0 10px rgba(255, 255, 255, 0.184), 0 0 40px black;
 }

  .ccp
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 320px;
   margin-left: 329px; 
   margin-top: 39px;
   transition: 0.5s;
   border-radius: 10px;
  }

  .ccp img{
   margin-left: 10px;
   width: 300px;
   height: 130px;
  }

  .ccp:hover
 {
   background: linear-gradient(to top, #e0e0e0ff, #61616111);
   filter: contrast(100%) brightness(100%) saturate(100%);
   box-shadow: 0 0 50px #ff4400, 0 0 10px white, 0 0 40px black;
 }

  .row4{
   display: inline-flex;
   width: 100%;
   margin-top: 20px;
 } 
  .metalsider
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 330px;
   margin-left: 157px;  
   height: 100px;
   margin-top: 50px;
   border-radius: 10px;
   transition: 0.5s;
  }

  .metalsider img 
  {
   width: 320px;
   height: 100px;
   margin-left: 4px;
  }

  .metalsider:hover
 {
   background: linear-gradient(to top, #e0e0e0ff, #61616111);
   box-shadow: 0 0 50px #0252989c, 0 0 10px white, 0 0 40px #ff0004;
   filter: contrast(100%) brightness(100%) saturate(100%);
 }

  .caribor
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 350px;
   margin-left: 300px;
   border-radius: 10px; 
   transition: 0.5s;
   height: 200px;
  }

  .caribor img{
   margin: 0 auto;
   width: 325px;
   height: 180px;
  }
 
  .caribor:hover
  {
    background: linear-gradient(to top, #e0e0e0ff, #61616100);
    filter: contrast(100%) brightness(100%) saturate(100%);
    box-shadow: 0 0 50px #fffb00bf, 0 0 10px rgba(255, 255, 255, 0.238), 0 0 40px #921717d2;
  }

  .row5{
   display: inline-flex;
   width: 100%;
   margin-top: 20px;
 } 
  .krona
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 328px;
   margin-left: 157px;  
   height: 100px;
   margin-top: 45px;
   border-radius: 10px;
   transition: 0.5s;
  }

  .krona img 
  {
   width: 328px;
   height: 100px;
   margin: 0 auto;
  }

  .krona:hover
 {
   background: linear-gradient(to top, #e0e0e0ff, #61616100);
   filter: contrast(100%) brightness(100%) saturate(100%);
   box-shadow: 0 0 50px #ff0000bf, 0 0 10px rgb(234, 9, 9), 0 0 40px #171d92d2;
 }

  .linkplas
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 350px;
   margin-left: 290px; 
   margin-top: 10px;
   border-radius: 10px;
   transition: 0.5s;
  }

  .linkplas img
  {
   width: 300px;
   height: 110px;
   margin-top: 20px;
   margin-left: 24px;
  }
  
  .linkplas:hover
  {
   background: linear-gradient(to top, #e0e0e0ff, #61616100);
    filter: contrast(100%) brightness(100%) saturate(100%);
    box-shadow: 0 0 50px #00ff22bf, 0 0 10px rgb(234, 9, 9), 0 0 40px #171d92d2;
  }

  .row6{
   display: inline-flex;
   width: 100%;
   margin-top: 20px;
 } 
  .schulz
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 358px;
   margin-left: 157px;  
   height: 100px;
   margin-top: 48px;
   border-radius: 10px;
   transition: 0.5s;
  }

  .schulz img 
  {
   width: 338px;
   height: 80px;
   margin-left: 10px;
   margin-top: 10px;
  }

  .schulz:hover
  {
    background: linear-gradient(to top, #e0e0e0ff, #61616100);
    filter: contrast(100%) brightness(100%) saturate(100%);
    box-shadow: 0 0 50px #0026ffbf, 0 0 10px rgba(234, 9, 9, 0.237), 0 0 40px #171d92d2;
  }

  .zanotti
  {
   filter: grayscale(100%);
   display: inline-flex;
   width: 350px;
   margin-left: 265px; 
   margin-top: 5px;
   border-radius: 10px;
   transition: 0.5s;
  }

  .zanotti img
  {
   width: 300px;
   height: 110px;
   margin-top: 20px;
   margin-left: 20px;
  }

  .zanotti:hover
  {
    background: linear-gradient(to top, #e0e0e0ff, #61616100);
    filter: contrast(100%) brightness(100%) saturate(100%);
    box-shadow: 0 0 50px #2a4affbf, 0 0 10px rgba(234, 9, 9, 0.237), 0 0 40px #313cffd2;
  }

  #bot4 
{
   
   position: relative;
   background: #008d0a;
   border: none;
   border-radius: 20px;
   color: white;
   margin-top: 80px;
   padding: 11px 13px;
   transition: 1s;
   margin-left: 42%;
}

body:hover #bot4
{
   box-shadow: 0 0 20px #00ff00, 0 0 10px white, 0 0 40px black;
   padding: 11px 75px;
}

/*Div responsável por imagens, e-book, logos da microsoft, intel e advantech, botões de navegação e email*/
.footer {
  border-top: 5px solid;
  /* adjust the width as needed */
  border-image: linear-gradient(to right, #000000, #17b317);
  border-image-slice: 1;
  background-color: #383838;
  display: inline-block;
  height: 500px;
  margin-top: 80px;
}

/*Alteração da cor do texto dentro da tag a*/
.footer a {
  color: white;
}

/*Div que abriga a logo da ECO+ no footer*/
.logoFooter {
  width: 20%;
  margin-top: 80px;
  margin-inline: 100px;
}

/*Alterações da imagem como tamanho e posição dentro da div*/
.logoFooter img {
  width: 100%;
  
}

/*Div que sustenta Logo Ecoplus, intel, advantech, microsoft e e-book */
.footerNav {
  color: white;
  display: inline-block;
  list-style: none;
  width: 32%;
  justify-content: center;
  margin-left: 510px;
  padding: 20px;
  margin-top: -151px;
}

/*Lista da barra de navegação acima de "Política de Privacidade"*/
.footerNav ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  margin-top: -90px;
}

/*Itens da lista*/
.footerNav li {
  word-spacing: 10px;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 400;
}

/*Div que sustenta a política de privacidade, email, e logos*/
.content {
  font-size: 16;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

/*Logo da Microsoft*/
.microsoftLogo {
  padding-left: 33%;
}

/*Logo Intel*/
.intelLogo {
  margin-top: 5%;
  padding-left: 33%;
}

/*Logo Advantech*/
.advantechLogo
{
  padding-left: 26%;
}

/*Div que sustenta a imagem do ebook*/
.ebook {
  margin-top: -30.8%;
  border-radius: 20px;
  width: 20%;
  margin-left: 1000px;
  box-shadow: 25px 15px 10px rgba(0, 0, 0, 0.3),
    15px 10px 10px rgba(0, 0, 0, 0.3);
  position: static;
}

/*Botão para download do ebook*/
.downloadEbook {
  background-color: #067a0b;
  width: 100%;
  margin-top: -2%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  font-weight: 200;
}

/*Marca d'agua Ecoplus*/
.marcaDagua {
  margin-top: 200px;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(to bottom, #e0e0e0, #eeeeee39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 48%;
  background-clip: text;
  width: 10%;
}

